/*
   Basic grid and rules.

   August 17, 2017.

   zero68
*/

/**************** grid ********************/
row::after {
	content: "";
	clear: both;
	display: table;
}
[class*="col-"] {
	float: left;
	padding: 9px;
}
.col-1 	{width: 8.33%;	}
.col-2 	{width: 16.66%;	}
.col-3 	{width: 25%;	}
.col-4 	{width: 33.33%;	}
.col-5 	{width: 41.66%;	}
.col-6 	{width: 50%;	}
.col-7 	{width: 58.33%;	}
.col-8 	{width: 66.66%;	}
.col-9 	{width: 75%;	}
.col-10 {width: 83.33%;	}
.col-11 {width: 91.66%;	}
.col-12 {width: 100%;	}

/********* elements basic rules **********/
* 		{ box-sizing: border-box; font-family: "Fredoka One"}
header 	{ width:100%; height:50px; background-color:#06adc7; }
body 	{ margin:0; }
main 	{ margin: 20px; border-radius: 5px;}
h3 		{ margin: 15px 15px; text-align: center; font-size: 1.7em}
h4 		{ margin: 0; text-align: center;}
progress { width: 100%; background-color: red;}
footer p { font-size: 0.7em}
footer 	{ background-color: #06adc7; height: 50px;}
hr 		{margin:15px;}
input[type=text] { margin: 2px; border: 2px solid #0675b3; color: #085b9e; }

/************* basic classes ************/
.center 	{ text-align:center }
.text-left 	{ text-align:left; }
.text-right { text-align:right; }
.justify 	{ text-align: justify; }
.no-display { display: none; }

/************** ff basics **************/
#main-menu { position:absolute; height: 50px; right: 10px; top: 0; width: 35px; padding-top: 7px;}
#main-menu p { padding-top:5px; margin: 0; font-size: 18px;}
#logo {
	background-image: url("http://englishofcourse.com/main-resources/images/of-course-icon.ico"); 
	background-size: 48px 48px;
	height: 48px;
	width: 48px;
	position: absolute;
	left: 10px;
	top: 0;
}
#greeting { position:absolute; left:65px; top:17px; margin:0; }

